<div class="ui two column grid">

        <div class="column" style="margin:auto;">
            <div class="ui raised segment">
                <p  dir="rtl" class="myP">

لطفا نوع کار مورد نظر را انتخاب نمایید :
                </p>

                <div class="ui three column grid" style="margin:auto">

                         <div class="column"  style="font-size:15px;">

                            <a href="#" onclick="showOrderLoad()" class="fluid ui purple button" style="font-family: 'B Koodak',  Tahoma, Arial; !important">
                                حمل بار
                            </a>

                            <br>

                            <a href="listOfOrder.html" class="fluid ui purple button" style="font-family: 'B Koodak',  Tahoma, Arial; !important">
                                خرید و تحویل
                            </a>

                         </div>

                         <div class="column">

                            <a href="orderOrganize.html" class="fluid ui pink button"  style="font-family: 'B Koodak',  Tahoma, Arial; !important">
                               مرتب کردن
                            </a>

                         </div>

                         <div class="column">

                            <a href="orderRepaire.html" class="fluid ui violet button"  style="font-family: 'B Koodak',  Tahoma, Arial; !important">
                                تعمیرات
                            </a>

                            <br>

                            <a href="listOfOrder.html" class="fluid ui violet button"  style="font-family: 'B Koodak',  Tahoma, Arial; !important">
                                خدمتکاری
                            </a>

                         </div>


                    </div>
            </div>
        </div>


    </div>

<script type="text/javascript">
            function showOrderLoad(){
            var xhr = new XMLHttpRequest();
            xhr.preventDefault()
            xhr.onreadystatechange = function () {
                if(xhr.readyState == 4 && xhr.status == 200){
                    document.getElementById("content").innerHTML = xhr.response;
                }
            };
            xhr.open("GET","/show_order_load",true)
            xhr.send()
        }
</script>
