<div class="ui two column grid">

        <div class="column" style="width:800px;margin:auto;"> 
            <div class="ui raised segment">
                <a class="ui purple right ribbon label" style="font-size:15px;">حمل بار</a>
                <p  dir="rtl" class="myP">
                
لطفا  کار مورد نظر را انتخاب نمایید :
                </p>
                
                <div class="ui two column grid" style="margin:auto">

                         <div class="column"  style="font-size:15px;">

                            <a href="listOfOrder.html" class="fluid ui violet button" style="font-family: 'B Koodak',  Tahoma, Arial; !important">
                                جا به جایی اسباب خانه
                            </a>

                         </div>

                         <div class="column">

                            <a href="listOfOrder.html" class="fluid ui orange button"  style="font-family: 'B Koodak',  Tahoma, Arial; !important">
                               اسباب کشی
                            </a>

                         </div>

                    </div>

                    <br>
                    <br>

                        <a href="works.html" class="ui right labeled icon button" style="font-family: 'B Koodak',  Tahoma, Arial; !important">
                            بازگشت به مرحله ی قبل
                        <i class="right chevron icon"></i>
                        </a>
            </div>
        </div>

        

    </div>