{% extends "layout.html" %}

{% load static %}

{% block headContent %}
    <link href="{% static "css/orderWork.css" %}" rel="stylesheet">
{% endblock %}

{% block bodyContent %}
    <div class="ui two column grid">

        <div class="column" style="margin:auto;"> 
            <div class="ui raised segment">

                <p  dir="rtl" class="myP">
                
لطفا نوع کار مورد نظر را انتخاب نمایید :
                </p>
                
                <div class="ui three column grid" style="margin:auto">

                         <div class="column"  style="font-size:15px;">

                            <a href="sub_works/load" class="fluid ui purple button" style="font-family: 'B Koodak',  Tahoma, Arial; !important">
                                حمل بار
                            </a>

                            <br>

                            <a href="sub_works/o" class="fluid ui purple button" style="font-family: 'B Koodak',  Tahoma, Arial; !important">
                                خرید و تحویل
                            </a>

                         </div>

                         <div class="column">

                            <a href="/sub_works/organize" class="fluid ui pink button"  style="font-family: 'B Koodak',  Tahoma, Arial; !important">
                               مرتب کردن
                            </a>

                         </div>

                         <div class="column">

                            <a href="/sub_works/repair" class="fluid ui violet button"  style="font-family: 'B Koodak',  Tahoma, Arial; !important">
                                تعمیرات
                            </a>

                            <br>

                            <a href="/sub_works/serveing" class="fluid ui violet button"  style="font-family: 'B Koodak',  Tahoma, Arial; !important">
                                خدمتکاری
                            </a>

                         </div>


                    </div>
            </div>
        </div>


    </div>

{% endblock %}

